[submodule ".tmux/plugins/tmux-resurrect"]
	path = .tmux/plugins/tmux-resurrect
	url = git@github.com:tmux-plugins/tmux-resurrect.git
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = git@github.com:tmux-plugins/tmux-sensible.git
